<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_Practice" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://thetasoft.com/rwpsvc/RwpSvc.svc/soap"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Practice"
                contract="RwpSvc.Practice" name="BasicHttpBinding_Practice" />
        </client>
    </system.serviceModel>
</configuration>